# Data Preprocessing

In [42]:
# pip install imblearn

In [57]:
#load libraries
import pandas as pd
import numpy as np
from collections import Counter
from imblearn import under_sampling
import random

In [44]:
#load dataset
df = pd.read_csv('bs140513_032310.csv')
df.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0

In [45]:
df.shape

(594643, 10)

In [46]:
#Check the unique values in each column
print(df.zipcodeOri.unique())
print(df.zipMerchant.unique())
print(df.gender.unique())
print(df.step.unique())
print(df.age.unique())
print(df.category.unique())
print(df.fraud.unique())

["'28007'"]
["'28007'"]
["'M'" "'F'" "'E'" "'U'"]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179]
["'4'" "'2'" "'3'" "'5'" "'1'" "'6'" "'U'" "'0'"]
["'es_transportation'" "'es_health'" "'es_otherservices'" "'es_food'"
 "'es_hotelservices'" "'es_barsandrestaurants'" "'es_tech'"
 "'es_sportsandtoys'" "'es_wellnessandbeauty'" "'es_hyper'" "'es_fashion'"
 "'es_home'" "'es_contents'" "'es_travel'" "'es_leisure'"]
[0 1]

In [47]:
#Drop zipcode columns
df = df.drop(columns=df[['zipcodeOri', 'zipMerchant']], axis=1)

In [48]:
#remove '' from dataframe
df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)

C:\Users\User\AppData\Local\Temp\ipykernel_11792\1302566896.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)

In [49]:
df.head()

   step     customer age gender     merchant           category  amount  fraud
0     0  C1093826151   4      M   M348934600  es_transportation    4.55      0
1     0   C352968107   2      M   M348934600  es_transportation   39.68      0
2     0  C2054744914   4      F  M1823072687  es_transportation   26.89      0
3     0  C1760612790   3      M   M348934600  es_transportation   17.25      0
4     0   C757503768   5      M   M348934600  es_transportation   35.72      0

In [50]:
#rename "step" column to 'day'
df = df.rename(columns={'step':'day'})

In [51]:
df.head()

   day     customer age gender     merchant           category  amount  fraud
0    0  C1093826151   4      M   M348934600  es_transportation    4.55      0
1    0   C352968107   2      M   M348934600  es_transportation   39.68      0
2    0  C2054744914   4      F  M1823072687  es_transportation   26.89      0
3    0  C1760612790   3      M   M348934600  es_transportation   17.25      0
4    0   C757503768   5      M   M348934600  es_transportation   35.72      0

In [52]:
X, Y = df.iloc[:,0:7], df.fraud

In [53]:
#number of fraud/non-fraud cases
print(sorted(Counter(df.fraud).items()))

[(0, 587443), (1, 7200)]

In [54]:
#percentage of fraud instances out of the total
round(df.fraud[df.fraud == 1].count() * 100 / df.shape[0], 2)

1.21

In [83]:
#undesample the non-fraud cases
random.seed(7406)
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state = 0)
X_smpl, Y_smpl = rus.fit_resample(X, Y)
print(sorted(Counter(Y_smpl).items()), Y_smpl.shape)

[(0, 7200), (1, 7200)] (14400,)

In [84]:
X_smpl['fraud'] = Y_smpl

In [85]:
df_smpl = X_smpl.reset_index(drop=True, inplace=False)
df_smpl.head()

   day     customer age gender     merchant           category  amount  fraud
0  137  C1897313368   5      F  M1823072687  es_transportation   14.74      0
1  118  C1228157206   1      F  M1823072687  es_transportation   37.74      0
2   92  C1022530210   4      M   M348934600  es_transportation   66.44      0
3   82  C1303935849   2      M  M1823072687  es_transportation   32.73      0
4  130  C1911293580   5      M  M1823072687  es_transportation   16.72      0